﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.centered-main {
    margin: 0 auto;
    width: 520px;
}

.search-input {
    width: 520px;
}

.search-form {
    margin-top: 150px;
}

.search-header {
    width: 300px;
    margin: 0 auto;
}

.result-zone {
    margin-left: 100px;
}

.head-search {
    background-color: lightgray;
    height: 60px;
    padding-top: 10px;
    padding-left: 20px;
    width: 600px;
}

.verdana-text {
    font-family: Verdana,sans-serif;
}

.result-count {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 10px;
}

.search-results {
    margin-top: 20px;
}

.search-result {
    margin-bottom: 20px;
    width: 600px;
    min-height: 50px;
    word-wrap: break-word;
}

.search-result a {
    text-decoration: none;
}

.search-result:hover a {
    text-decoration: underline;
}

.result-link {
    margin-top: 2px;
}

.paggination-zone {
    margin-top: 10px;
    margin: 0 auto;
    width: 600px;
}

.page-number {
    margin-right: 10px;
}

.result-tag {
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    color: #3E6D8E;
    display: inline-block;
    font-size: 90%;
    line-height: 1.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}

.custom-range {
    margin-top: 7px;
    margin-bottom: 3px;
}